<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Team Page</title>
  <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
  <div class="container marketing">
    <hr>
    <h2>Add player:</h2>
    <form th:action="@{/team/account/add}" method="post">
      <div class="row col-12 form-container">
        <div class="row col-md-12 form-input-row">
          <div class="col-md-6">
            <label for="team_id">Team id:</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" readonly type="text" id="team_id" th:name="team_id" th:value="${team_id}">
          </div>
        </div>
        <div class="row col-md-12 form-input-row">
          <div class="col-md-6">
            <label for="team_id">Players:</label>
          </div>
          <div class="col-md-6">
            <select class="form-control" name="account_id">
              <option th:each="account : ${all_available_accounts}"
                      th:text="${account.username}"
                      th:value="${account.id}">
              </option>
            </select>
          </div>
        </div>
        <div class="row col-md-12 ">
          <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
        </div>
      </div>
    </form>
    </hr>
  </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>