<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Index Page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <h2>Teams management panel</h2>
        <ul>
            <li>
                <a th:href="@{/team/add}">Add team</a>
            </li>
        </ul>
        <hr>
        <h3>Teams</h3>
        <table>
            <tr th:each="team : ${teams}">
                <td th:text="${team.id}"></td>
                <td th:text="${team.name}"></td>
            </tr>
        </table>
        <hr>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>